.card-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}

.card-navigation :nth-child(1) {
  margin-left: -3%;
}

.card-nav {
  display: flex;
  flex-direction: row;
}

.card-navigation .card-nav li {
  list-style-type: none;
  margin: 1rem 1rem;
}

.top-menu-button {
  border: 1px solid #f5a623;
  position: relative;
  right: -88%;
  padding: .5rem;
}


.card-navigation .card-nav li a {
  color: #888888;
  padding: 0.3rem 0.7rem;
  text-decoration: none;
}

.card-navigation .card-nav li button {
  text-decoration: none;
  color: white;
  padding: 0.3rem 0.7rem;
  border: none;
  background: none;
}

.card-navigation .card-nav li button :focus,
.card-navigation .card-nav li button :active {
  border: none;
  outline: hidden;
  box-shadow: none;
}

.card-nav li :hover {
  border: 1px solid #603b80;
  border-radius: 21px;
}


.card-nav .purple-button {
  background-color: #603b80;
  padding: 0.3rem 0.7rem;
  border: 1px solid #603b80;
  border-radius: 21px;
  position: relative;
  top: -0.3rem;
  color: white !important;
}

.myModal {
  display: none;
  position: fixed;
  z-index: 12;
}


@media screen and (max-width: 768px) {
  .card-nav {
    position: relative;
    left: -8%;
  }
}
