<nav class="card-navigation">
  <ul class="card-nav">
    <li class="">
      <a href="#">All</a>
    </li>
    <li class="">
      <a href="#">Today</a>
    </li>
    <li class="">
      <a href="#">Last 30 days</a>
    </li>
    <li class="">
      <a href="#">Last 90 days</a>
    </li>
    <li class="">
      <a href="#">Custom</a>
    </li>
  </ul>
  <div class="nav-buttons">
    <ul class="card-nav card-buttons">
      <li class="">
        <a href="#">Download Sample file</a>
      </li>
      <li class="purple-button">
        <button id="trigger-modal" (click) = "showModal($event)">Upload file</button>
      </li>
    </ul>
  </div>
</nav>

<div class="myModal">
  <span>&times;</span>
  <p>some modal text</p>
</div>
