<nav class="card-navigation navbar navbar-expand-md">
  <button class="navbar-toggler top-menu-button" type="button" data-toggle="collapse"
    data-target="#dashNavbarBottomContent" aria-controls="dashNavbarBottomContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="icon-bar">menu</span>
  </button>
  <div class="collapse navbar-collapse navigation-links" id="dashNavbarBottomContent">
    <ul class="card-nav">
      <li class="">
        <a href="#">All</a>
      </li>
      <li class="">
        <a href="#">Today</a>
      </li>
      <li class="">
        <a href="#">Last 30 days</a>
      </li>
      <li class="">
        <a href="#">Last 90 days</a>
      </li>
      <li class="">
        <a href="#">Custom</a>
      </li>
    </ul>
    <ul class="card-nav">
      <li>
        <a href="#">KES</a>
      </li>
      <li>
        <a href="#">Download</a>
      </li>
    </ul>
  </div>
</nav>
