.container table {
  font-size: 12px;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container table .table-head {
  border: solid 1px #f6f6f6;
  background-color: #f1f1f1;
}

.container table tr th {
  margin: 1rem;
  font-weight: 100;
  text-align: center;
}

.container table tbody .table-body,
.no-data {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.02);
}

.container table tbody .table-body td {
  padding: 0.5rem 0;
}

.container table tbody .table-body td :nth-last-child(2) {
  padding-bottom: 2rem;
}


.container table .no-data tr td {
  padding: 5rem 0;
}

.container table .no-data tr td .message-result {
  font-weight: bold;
  text-transform: capitalize;
  color: #bbbbbb;
}

.container table .no-data tr td p {
  padding: 4rem 0 3rem 0;
}

.container table .no-data tr td .purple-button {
  background-color: #603b80;
  padding: 0.6rem 1rem;
  border: 1px solid #603b80;
  border-radius: 21px;
  text-decoration: none;
  color: white;
}


/* search */
.search {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchbar {
  width: 50%;
  display: flex;
  margin: 0;
  flex-direction: row;
}

#search-input {
  font-size: 12px;
  width: 120%;
}

.searchbar #searchForm .submit {
  font-size: 12px;
  position: relative;
  left: 20%;
  top: -15%;
}

#searchForm {
  display: flex;
  flex-direction: row;

}
