#sidenav-wrapper {
  background-color: #fefefe;
  height: 100%;
  width: 10rem;
  font-size: 10px;
  padding-left: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #eeeeee;
  display: inline-block;
}

h6 {
  font-size: 12px;
}

.sidenav li {
  list-style-type: none;
  position: relative;
  left: -38%;
  padding: .5rem 0;
}

.sidenav li a {
  text-decoration: none;
  color: black;
}
