<div id="sidenav-wrapper">
  <div class="sidenav-card" (click)="toggleSideNav()">
    <h6>Baeh Logistics</h6>
    <p>Administrator</p>
  </div>
  <div class="sidenav-menu" *ngIf="showSideNav">
    <ul class="sidenav">
      <li>
        <a href="#">Activate</a>
      </li>
      <li>
        <a routerLink="/overview" routerLinkActive="active">Overview</a>
      </li>
    </ul>
    <h6 class="sidenav-headers">YOUR BUSINESS</h6>
    <ul class="sidenav">
      <li>
        <a href="#">Transactions</a>
      </li>
      <li>
        <a href="#">Settlement</a>
      </li>
    </ul>
    <h6 class="sidenav-headers">RECEIVE PAYMENTS</h6>
    <ul class="sidenav">
      <li>
        <a href="#">Payment Settings</a>
      </li>
      <li>
        <a href="#">Create Payment</a>
      </li>
      <li>
        <a href="#">Payment Links</a>
      </li>
      <li>
        <a routerLink="/bulkpayments" routerLinkActive="active">Bulk Payments</a>
      </li>
      <li>
        <a href="#">My Devices</a>
      </li>
    </ul>
    <h6 class="sidenav-headers">RECEIVE PAYMENTS</h6>
    <ul class="sidenav">
      <li>
        <a href="#">Monitoring</a>
      </li>
      <li>
        <a href="#">API Keys</a>
      </li>
      <li>
        <a href="#">Events</a>
      </li>
      <li>
        <a href="#">Logs</a>
      </li>
    </ul>

    <ul class="sidenav">
      <li>Settings</li>
    </ul>
  </div>

</div>
