#sidenav-wrapper {
  background-color: #fefefe;
  height: 114%;
  font-size: 10px;
  padding-left: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #eeeeee;
  display: inline-block;
}

.sidenav-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #f6f6f6;
  background-color: #ffffff;
  padding: 0.7rem;
  text-align: justify;
  margin: 1rem 1rem 1rem -0.3rem;
}

h6 {
  font-size: 12px;
}

.sidenav li {
  list-style-type: none;
  position: relative;
  left: -38%;
  padding: 0.4rem;
}

.sidenav li a {
  text-decoration: none;
  color: black;
}


/* @media screen and (max-width: 1307px) {
   #sidenav-wrapper {
    display: none;
  }
} */
