<nav class="navbar navbr-default">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
    <div class="collapse navbar-collapse">

    </div>
  </div>
  <ul class="navigation-links">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Sandbox
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="">Number 1</a>
        </li>
        <li>
          <a href="">Number 2</a>
        </li>
      </ul>
    </li>
    <li>Documentation</li>
    <li>help</li>
    <li>notifications</li>
    <li>Account</li>
  </ul>
</nav>
