nav {
  border-bottom: 1px solid #f5a623;
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
}


nav .navigation-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: relative;
  left: 48%;


}

.navigation-links li {
  margin: 0 1rem -1em 1rem;
  padding: 0;
}

.navigation-links li a{
  color: black;
  text-decoration: none;
}

.dropdown-menu li {
  padding: 0;
  margin: 0;
}
