  <tr>
    <td>123456789</td>
    <td>myfile.xlsx</td>
    <td>full</td>
    <td>27/02/2020</td>
    <td>Myself</td>
    <td>Download</td>
  </tr>
  <tr>
    <td>123456789</td>
    <td>myfile.xlsx</td>
    <td>full</td>
    <td>27/02/2020</td>
    <td>Myself</td>
    <td>Download</td>
  </tr>
  <tr>
    <td>123456789</td>
    <td>myfile.xlsx</td>
    <td>full</td>
    <td>27/02/2020</td>
    <td>Myself</td>
    <td>Download</td>
  </tr>
  <tr>
    <td>123456789</td>
    <td>myfile.xlsx</td>
    <td>full</td>
    <td>27/02/2020</td>
    <td>Myself</td>
    <td>Download</td>
  </tr>
  <tr>
    <td>123456789</td>
    <td>myfile.xlsx</td>
    <td>full</td>
    <td>27/02/2020</td>
    <td>Myself</td>
    <td>Download</td>
  </tr>
