.summary-header {
  padding-left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.money-summary {
  display: flex;
  flex-direction: row;

}

.money-summary h5 {
  font-size: larger;
  margin: 0.5rem 1rem 0.5rem 0;
}

.money-summary span {
  font-size: small;
  margin: 0.9rem 0 0 0;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.17px;
  color: #8251ab;
}


.dates {
  font-size: small;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #f6f6f6;
  background-color: #ffffff;
  margin-right: 3%;
  border-radius: 21px;
  padding: .5rem 1.5rem 0 1.5rem;
}

.chart-wrapper {
  margin: 0.5rem 1rem 1rem 1.5rem;
  height: 100%;
}

#myChart {
  height: 40vh;
  width: calc(90%);
}

.orders-and-revenue,
.tooltipledger {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;
}

.orders-and-revenue .orders,
.revenue {
  margin: 0.5rem 2rem;
}

.orders-and-revenue .orders {
  font-size: small;
  font-weight: 1000;
  text-transform: uppercase;
  color: #8251ab;
}

.orders-and-revenue .orders h5 {
  font-size: large;
  color: black;
  font-weight: 1000;
  margin: 0.3rem 0 0 0;
}

.tooltipledger {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tooltipledger .update {
  font-size: x-small;
  color: #9b9b9b;
}

.tooltipledger :nth-child(1) {
  margin-left: 1.5rem;
}

.tooltipledger .update a {
  font-weight: 500;
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  #myChart {
    height: 5%;
    width: 33%;
  }
}
