<div class="">
  <div class="summary-header">
    <div class="money-summary">
      <h5>KES 560,987.00</h5>
      <span>TOTAL AVAILABLE BALANCE</span>
    </div>
    <div class="dates">
      June 2 -> Jul 8
    </div>
  </div>
  <div class="chart-wrapper">
    <canvas id="myBarChart"></canvas>
    <div class="orders-and-revenue">
      <div class="orders">
        Account Balance
        <h5>KES 1,999,999.99</h5>
      </div>
      <div class="orders">
        Available Amount To Settle
        <h5>KES 398,009.42</h5>
      </div>
    </div>
    <div class="tooltipledger">
      <div class="update">Last Updated: 5 minutes ago</div>
      <div class="update">
        <a href="">See all transactions -></a>
      </div>
    </div>
  </div>
</div>
